@model List<Order>

@{
    ViewBag.Title = "Orders - The Look Lab";
    Layout = "_AdminLayout";
}

<div class="table-wrapper">
    <table class="data-table">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Order Date</th>
                <th>Customer Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Postal Code</th>
                <th>Address</th>
                <th>State</th>
                <th>City</th>
                <th>Total Price</th>
                <th>Order Status</th>
                <th>Delivery Instructions</th>
                <th>Products</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.OrderDate</td>
                    <td>@order.Name</td>
                    <td>@order.Email</td>
                    <td>@order.PhoneNumber</td>
                    <td>@order.PostalCode</td>
                    <td>@order.Address</td>
                    <td>@order.State</td>
                    <td>@order.City</td>
                    <td>@order.TotalPrice</td>
                    <td>@order.Status</td>
                    <td>@order.DeliveryInstructions</td>
                    <td>
                        <form method="post" action="@Url.Action("ProductTable","Admin")">
                            <input type="hidden" value="@order.Id" name="orderId" />
                            <button class="btn btn-secondary" type="submit">View</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
